.custom-table .ant-pagination {
  background-color: white;
  margin-top: 16px; /* Adjust the margin if needed */
}

.custom-table .ant-pagination .ant-pagination-item a,
.custom-table .ant-pagination .ant-pagination-item .ant-pagination-item-link {
  color: #1890ff; /* Set the color for pagination links */
}

.custom-table .ant-pagination .ant-pagination-item.ant-pagination-item-active a,
.custom-table
  .ant-pagination
  .ant-pagination-item.ant-pagination-item-active
  .ant-pagination-item-link {
  color: white; /* Set the color for active pagination link */
  background-color: #1890ff; /* Set the background color for active pagination link */
  border-color: #1890ff; /* Set the border color for active pagination link */
}

.custom-table .ant-pagination .ant-pagination-prev,
.custom-table .ant-pagination .ant-pagination-next {
  background-color: white; /* Set the background color for previous/next pagination links */
}

.custom-table .ant-pagination .ant-pagination-prev .ant-pagination-item-link,
.custom-table .ant-pagination .ant-pagination-next .ant-pagination-item-link {
  color: #1890ff; /* Set the color for previous/next pagination links */
}

.custom-table
  .ant-pagination
  .ant-pagination-prev
  .ant-pagination-item-link:hover,
.custom-table
  .ant-pagination
  .ant-pagination-next
  .ant-pagination-item-link:hover {
  color: white; /* Set the color for previous/next pagination links on hover */
  background-color: #1890ff; /* Set the background color for previous/next pagination links on hover */
}
